.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* ensures it's on top of everything */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--header-background);
  color: var(--header-color);
  transition: background-color 0.3s, color 0.3s;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

#projects{
  scroll-margin-top: 80px; 
}

#timeline{
  scroll-margin-top: 20px; 
}

.nav-item {
  margin-left: 15px; /* Reduced margin */
}

.nav-item a {
  text-decoration: none;
  color: var(--header-color);
  font-weight: 600;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
  height: 60px; /* Match the height of the logo */
  transition: background-color 0.3s;
}
.nav-link {
  background: none;
  border: none;
  font: inherit;
  font-weight: 600;
  font-size: inherit;
  line-height: inherit;
  color: var(--header-color);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* matches hover effect */
}
.logo {
  width: 120px; /* Adjusted size */
  height: auto;
}

.toggle-switch {
  display: flex;
  align-items: center;
}

#toggle {
  display: none;
}

.toggle-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Adjusted size */
  height: 30px; /* Adjusted size */
  background-color: #ff69b4; /* Hot pink background */
  border-radius: 50%; /* Circular toggle button */
  transition: background-color 0.3s;
}

.icon {
  font-size: 20px; /* Adjusted size */
  color: white; /* White icons */
}

#toggle:checked + .toggle-label {
  background-color: #ff69b4; /* Blue violet background when checked */
}

/* Media queries for mobile-specific styles */
@media (max-width: 600px) {
  .nav-item a {
    height: 5px; /* Adjust height for smaller devices */
    padding: 20px 0; /* Adjust padding for alignment */
  }

  .logo {
    margin-top: 30px;
    width: 80px; /* Adjust logo size for mobile */
    height: auto;
  }

  .toggle-label {
    width: 25px; /* Adjust size for mobile */
    height: 25px; /* Adjust size for mobile */
  }

  .toggle-switch {
    margin-top: 10px; /* Adjust space between nav and toggle switch */
    margin-bottom: 20px; 
  }

  .nav-list {
    flex-direction: column; /* Stack items vertically on mobile */
  }

  .nav-item {
    margin-left: 0;
    margin-top: 10px;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav {
    margin-bottom: 10px;
  }
  
}